.layout__boxShadowCard
{
    -webkit-box-shadow: -8px 5px 35px -18px rgba(0,0,0,0.32);
    -moz-box-shadow: -8px 5px 35px -18px rgba(0,0,0,0.32);
    box-shadow: -8px 5px 35px -18px rgba(0,0,0,0.32);
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    border: none !important;
}